/* TÍTULO */
.Administracion {
  font-family: 'AllerDisplay';
  justify-content: center;
  font-size: 40px;
  text-align: center;
  color: rgb(34, 34, 34);
  line-height: 20px;
  margin-top: 150px; /* Ajusta este valor según lo necesario para dar el espacio adecuado */
  margin-bottom: 20px; /* Espacio debajo del título si es necesario */
}

/* ESPACIO ENTRE EL TÍTULO Y EL RESTO DEL CONTENIDO */
.Container {
  padding: 20px; /* Ajusta el relleno de contenedor principal si es necesario */
}
.ContenedorServicios {
  display: flex; /* Utiliza flexbox para centrar */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
  width: 100%;
  
}
/*ESTILOS DE LOS CARDS*/
.divCardAdmi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;  /* Ajusta el espacio entre las tarjetas */
  justify-content: center;  /* Centrar las columnas horizontalmente */
  justify-items: center;  /* Centrar cada tarjeta dentro de su columna */
  align-items: center;  /* Centrar las tarjetas verticalmente */
  height: 400px;
  margin-top: -70px;
}

.CardAdmi {
  width: 200px; 
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  
}
.EstilosCardAdmi{
  border-radius: 20px;
  overflow: hidden;
  margin-left: 100px;
  background-color: #000000;
  
}
.CardAdmi img {
  object-fit: cover;
  height:250px; /* Ajusta la altura de la imagen */
  width: 200px; /* Asegúrate de que la imagen ocupe todo el ancho del card */
}
.card-title {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #F5B041;
}

.card-description {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

/* PUNTO */
.punto {
  font-family: "Century Gothic", Arial, sans-serif;
  color: #c88594; /* Cambia el color del punto aquí */
  font-size: 120px; /* Ajusta el tamaño del punto según tus necesidades */
  vertical-align: baseline;
}

/* ENTRADAS DE DATOS */
.InputsDatos {
  text-align: center;
}
.InputNombreServicio, .InputNombreServicioEditado {
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 500px;
  background-color: #8b8b8b2a;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  margin-bottom: 30px;
  border-radius: 50px;
}
.AreaDescripcionServicio {
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  height: 150px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 500px;
  background-color: #8b8b8b2a;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  margin-bottom: 30px;
  border-radius: 20px;
}
.InputNombreServicioEditado {
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 400px;
  background-color: #8b8b8b2a;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  margin-bottom: 30px;
  border-radius: 50px;
}
.AreaDescripcionServicioEditada {
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  height: 100px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 400px;
  background-color: #8b8b8b2a;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  margin-bottom: 30px;
  border-radius: 20px;
}
.BtnSeleccionaImg{
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  margin-top: -20px;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  background: #797979;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 4px;
}
.TextImgSelect{
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 14px;
  margin-left: 20px;
  color: #797979;
}
/* TÍTULO DE SERVICIO */
.TituloServicio {
  font-family: "Century Gothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* TEXTO DESCRIPCIÓN SERVICIO */
.TextoDescripcionServicio {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}
.DivEdicion {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */

width: 200px; 
height: 600px;
margin-top: -100px;
}
/* BOTONES EDITAR */
.divBotonesEditar {
  display: flex;
  justify-content: center; /* Alinea los botones al inicio del contenedor */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 10px; /* Espacio arriba de los botones si es necesario */
  margin-bottom: 40px;
}
.btnCambiarImagen {
  font-family: "Century Gothic", Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #808080;
  color: #000000;
  width: 100px;
}
.btnGuardarServicio {
  font-family: "Century Gothic", Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #447f0f;
  color: #000000;
}
.btnAñadirServicio {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  margin-top: -20px;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  background: #f5b041;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}

/* CARGAR IMAGEN */
.custom-file-upload {
  margin-bottom: 20px; /* Espacio entre el botón y los demás elementos */
}
#file-upload {
  display: none; /* Oculta el input original */
}
.divCargarImagen {
  display: flex; /* Flexbox en el contenedor padre */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Opcional, si necesitas centrar verticalmente también */
  height: 30px; /* Ajusta el tamaño de altura del contenedor según tu diseño */
}

/* BOTONES DE EDITAR Y ELIMINAR */
.btnBotonesEditElim {
  display: flex;
  align-items: center; /* Centra verticalmente los botones si es necesario */
  gap: 10px; /* Espacio entre los botones */
}
.btnEditarServicio {
  width: 40px;
  height: 40px;
  background: url(../Img/Icon_Editar.png) no-repeat center center;
  background-size: contain;
  text-indent: -9999px; /* Ocultar el texto del botón */
  border: transparent;
  cursor: pointer;
  margin-left: 300px;
}
.btnEliminarServicio {
  width: 40px;
  height: 40px;
  background: url(../Img/Icon_Eliminar.png) no-repeat center center;
  background-size: contain;
  text-indent: -9999px; /* Ocultar el texto del botón */
  border: transparent;
  cursor: pointer;
  margin-left: 20px;
}
.btnEditarServicio:hover,
.btnEliminarServicio:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón */
    opacity: 0.8; /* Cambia la opacidad */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
}

/* LISTAS */
ul {
  list-style-type: none; /* Elimina los puntos de viñeta */
  padding: 0; /* Elimina el padding predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
}

/* CERRAR SESIÓN */
.BtnCerrarSesion {
  font-family: "Century Gothic", Arial, sans-serif;
  border: none;
  outline: none;
  width: 150px;
  margin-top: 30px;
  padding: 10px 0;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  background: #c88594;
  color: white;
  margin-left: 30px;
}
.BtnCerrarSesion:hover {
  background: black; /* Efecto hover en el botón */
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(245, 176, 65, 1);
  transition: all 0.2s ease;
}

/* Media Query para dispositivos móviles y tablets */
/* Media Query para dispositivos móviles y tablets */
@media (max-width: 768px) {
  .Administracion {
   font-size: 30px;
   line-height: 1px;
   margin-left: 60px;
   text-align: center;
  }
 
  /* Ajustar el ancho de los cards */
  .divCardAdmi {
    grid-template-columns: repeat(1fr); /* Ajusta a 2 columnas en lugar de 3 */
    gap: 10px;  /* Aumenta un poco el espacio entre las tarjetas */
  }
 
  .CardAdmi {
    width: 40px; /* Reduce el ancho de los cards para hacerlos más angostos */
    height: 400px; /* Ajusta la altura si es necesario */
    margin-top: 50px; /* Ajuste del margen superior si es necesario */
  }
 
  .EstilosCardAdmi {
    margin-left: 0; /* Asegúrate de que los cards estén centrados y no desfasados a la izquierda */
  }
 
  .CardAdmi img {
    width: 150px; /* Ajusta el ancho de la imagen para que coincida con el nuevo ancho del card */
    height: 200px; /* Ajusta la altura de la imagen para mantener proporciones */
  }
 
  /* Otros ajustes previos */
  .InputNombreServicio {
    width: 300px;
    margin-left: 40px;
    margin-top: -20px;
  }
 
  .AreaDescripcionServicio {
    width: 300px;
    margin-left: 40px;
    height: 110px;
  }
 
  .divCargarImagen {
    margin-top: -10px;
    margin-left: 50px;
  }
 
  .btnAñadirServicio {
    margin-left: 50px;
    margin-bottom: -10px;
  }
 }
 