.ContenidoContacto {
    margin-top: 100px; /* Ajusta esto según la altura de tu header */
    padding: 20px; /* Añade espacio interno */
  }
  .Hablemos{
    font-family: 'AllerDisplay';
    justify-content: center;
    font-size: 40px;
    text-align: center;
    color: rgb(34, 34, 34);
    line-height: 20px;
    margin-top: -100px;
  }
  .punto{
    font-family: "Century Gothic", Arial, sans-serif;
      color: #c88594; /* Cambia el color del punto aquí */
      font-size: 120px; /* Ajusta el tamaño del punto según tus necesidades */    
      vertical-align:baseline
  }
  .EstoyAqui{
    text-align: center;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #C88594;
    font-style: oblique;
    margin-top: -20px;
  }
  .CompletaText{
    text-align: center;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 20px;
    color: rgb(34, 34, 34);
    line-height: 30px;
  }
  .InputCotizacion {
    border: none;
    font-size: 18px;
    text-align: center;
    font-family: "Century Gothic", Arial, sans-serif;
    height: 40px; /* Ajusta la altura aquí */
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 400px;
    background-color: #8b8b8b2a;
    color: #000000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
    margin-bottom: 30px;
    border-radius: 50px;
    padding-right: 30px; /* Espacio extra para el asterisco */
    position: relative; /* Necesario para que el asterisco se posicione correctamente */
}

.TextAreaCotizacion {
    border: none;
    font-size: 18px;
    text-align: center;
    font-family: "Century Gothic", Arial, sans-serif;
    height: 200px; /* Ajusta la altura aquí */
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 400px;
    background-color: #8b8b8b2a;
    color: #000000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-right: 30px; /* Espacio extra para el asterisco */
    position: relative;
}

.asterisco-obligatorio {
    color: red;
    font-weight: bold;
    margin-left: 10px;
    position: absolute;
    right: 10px; /* Alinea el asterisco a la derecha del input */
    top: 50%;
    transform: translateY(-50%);
    margin-top: -20px;
}
.asteriscoDescripcion{
  color: red;
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
  right: 10px; /* Alinea el asterisco a la derecha del input */
  top: 50%;
  transform: translateY(-50%);
  margin-top: -100px;
}
.input-container {
    position: relative;
    margin-bottom: 20px; /* Espacio entre cada campo */
}


.BtnEnviar{
  font-family: "Century Gothic", Arial, sans-serif;
  border: none;
  outline: none;
  width: 150px;
  margin-top: 30px;
  padding: 10px 0;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  background: #c88594 ;
  color: white;
  margin-top: -15px;
 
}
.BtnEnviar:hover {
  background: black; 
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(245, 176, 65, 1);
  transition: all 0.2s ease;
}

.divForm {
justify-content: center;

}

.FormCotizacion {
  background: rgba(226, 226, 226, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  width: 500px;

}

.FormCotizacion:hover {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px); /* Movimiento hacia arriba en hover */
}

.divMapa {
  width: 600px;
  height: 300px;
  position: relative;
  z-index: 1; /* Mapa debajo del formulario */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Centra el mapa horizontalmente */
}
.Ubicacion{
background-color: #000000;
width: 500px;
height: 100px;
}