.Footer {
    background-image: url('../Img/Footer2.png'); /* Ruta de la imagen de fondo */
    background-size: contain; /* Ajusta la imagen para que toda sea visible sin cortes */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    width: 100%; /* Asegura que el fondo cubra todo el ancho */
    height: 298px; /* Altura mínima del footer */
    padding: 50px 20px; /* Añade espacio alrededor del contenido */
    position: absolute; /* Contenedor de referencia */
    margin: 0;
    margin-bottom: 0;
}
.Tranformemos{
    font-family: 'AllerDisplay';
    justify-content: center;
    font-size: 40px;
    text-align: center;
    margin-left: -850px;
    color: rgb(255, 255, 255);
    line-height: 20px;
}
.punto{
    font-family: "Century Gothic", Arial, sans-serif;
      color: #f5b041; /* Cambia el color del punto aquí */
      font-size: 120px; /* Ajusta el tamaño del punto según tus necesidades */    
      vertical-align:baseline
  
}
.Reservados {
    position: absolute; /* Para permitir mover libremente el texto */
    bottom: 15px; /* Ajusta la distancia desde el fondo del Footer */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Para centrar completamente el texto */
    font-size: 18px; /* Ajusta el tamaño de la fuente si es necesario */
    color: #000000; /* Cambia el color según el diseño */
}
.divIconContactos {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los íconos y el texto */
    gap: 20px; /* Espacio entre los íconos y el texto */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si el espacio es insuficiente */
    margin-top: 90px;
    margin-left: 30px;
}

.footer-icon {
    width: 60px; /* Ajusta el tamaño de los íconos según tu diseño */
    height: auto;
    margin-right: 15px; /* Ajusta el espacio entre los íconos */
}

.Tranformemos {
    margin-left: 120px; /* Empuja el texto hacia el final de la fila */
    font-size: 30px;
    justify-content: center;
}

