
.divForm {
    background-color: rgba(10, 10, 10, 0.90); /* Negro semi-transparente */
    height: 100vh; /* O ajusta la altura que desees */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el formulario */
  .FormRegister{
    background: rgba(226, 226, 226, 0.1); /* Fondo semitransparente */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Sombra para darle profundidad */
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
    -webkit-backdrop-filter: blur(8px); /* Compatibilidad con WebKit */
    padding: 70px; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out; /* Transiciones suaves */
  }
  
  .FormRegister:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5); /* Sombra más intensa al pasar el mouse */
    transform: translateY(-5px); /* Movimiento hacia arriba en hover */
  }
  
  .datosForm {
    margin-bottom: 20px; /* Espaciado entre los campos */
    width: 100%;
    position: relative;
  }
  
  .inputDatos {
    font-family: "Century Gothic", Arial, sans-serif;
    border: none;
    outline: none;
    background: none;
    width:250px;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.842); /* Línea inferior semi-transparente */
    transition: border-bottom 0.3s ease;
  }
  
  .inputDatos:focus {
    border-bottom: 2px solid #f5b041; /* Cambia el color al enfocarse */
  }
  
  .btnRegistrarse {
    font-family: "Century Gothic", Arial, sans-serif;
    border: none;
    outline: none;
    width: 150px;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    background: #c88594 ;
    color: white;
   
  }
  
  .btnRegistrarse:hover {
    background: black; 
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(245, 176, 65, 1);
    transition: all 0.2s ease;
  }
  
  /* Estilos para el mensaje de éxito/error */
  .custom-class {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Century Gothic", Arial, sans-serif;
    border-radius: 8px;
    padding: 60px; /* Espaciado interno */
  }
  
  .NuevoAdministrador {
    color: white;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.3s ease;
    display: inline-block;
    font-weight: bold;
    background-color: black;
    border-radius: 50px;
  
  }
  
  /* Efecto hover */
  .NuevoAdministrador:hover {
    color:#f5b041; /* Cambiar a un color vibrante */
    background-color: white; /* Fondo blanco al pasar el mouse */
    transform: scale(1.1); /* Aumentar ligeramente el tamaño */
  }
  
  /* Efecto activo (cuando se presiona) */
  .NuevoAdministrador:active {
    transform: scale(1); /* Restablecer el tamaño al hacer clic */
    background-color: #ffcc00;
    color: white;
  }
  @media only screen and (max-width: 767px) {
    .form {
      padding: 20px; /* Reducir más el espaciado interno */
      text-align: center;
    }
  
    .inputDatos {
      width: 80%; /* Asegurar que ocupe todo el ancho */
      font-size: 14px; /* Ajustar tamaño de fuente */
  
  
    }
  
    .btnIniciarSesion {
      width: 80%; /* Botón a ancho completo */
      font-size: 14px; /* Ajustar tamaño de fuente */
      margin-top: -10px; /* Ajustar margen superior */
    }
  
    .custom-class {
      padding: 20px; /* Reducir espaciado interno */
      font-size: 14px; /* Ajustar tamaño de fuente */
    }
  }