*{
    margin: 0;
}
/* ESTILO GENERAL DEL HEADER */
header {
  background-color: #020003;
  width: auto;
  height: 130px;
  display: grid;
  grid-template-columns: auto 1fr; /* Logo y menú */
  align-items: center;
  padding: 0 40px; /* Espacio a los lados */
  color: white;
  }

/* Contenedor del menú de navegación */
.navbar {
    display: grid;
    grid-template-columns: repeat(6, auto); /* Distribuir los enlaces en columnas */
    gap: 10px; /* Espacio entre los enlaces */
    justify-content: flex-end; /* Alinear los enlaces a la derecha */
    padding: 0 60px; /* Espacio a los lados */
  }
  .nav-link {
    color: white;
    padding: 5px 10px; /* Ajusta el espacio dentro de los enlaces */
    margin: 0 10px; /* Reduce el espacio entre los enlaces */
    font-family: "Century Gothic", Arial, sans-serif;
    font-weight: bold;
   transition: background-color 0.3s ease, color 0.3s ease; /* Suavizar la transición */
   text-decoration: none;
   background-color: transparent; /* Fondo transparente por defecto */
   border-radius: 20px; /* Mantener el borde redondeado en todo momento */
  
  }
  
  .nav-link:hover {
    background-color: #C88594; 
    border-radius: 20px; 
    color: rgb(255, 255, 255);
  }
  
  .logo {
    height: 90px;
    
  }

  /* Dropdown menu */
.dropdown {
    position: relative;
    display: flex; /* Alinea el contenido verticalmente */
    align-items: center; /* Centra verticalmente el contenido del dropdown */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Coloca el menú desplegable justo debajo del enlace */
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 150px;
  }
  
  .dropdown-item {
    padding: 10px;
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: lightgray;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  