
/* ESTILO GENERAL DEL HEADER */
.HeaderPrincipal {
  background-color: #020003;
  width: 100%; 
  height: 130px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0 40px;
  color: white;
  position: fixed; /* Hace que el header se quede fijo en la parte superior */
  top: 0; 
  left: 0;
  z-index: 1000; /* Queda por encima de otros elementos de la página */
}
body{
  margin-top: 130px;
}

/* Contenedor del Navbar */
.NavbarPrincipal {
    display: grid;
    grid-template-columns: repeat(5, auto); 
    gap: 10px;
    justify-content: flex-end; 
    padding: 0 5rem; /* Espacio a los lados */
  }
  .nav-linkPrincipal {
    color: white;
    padding: 7px 10px; 
    margin: 0 10px; 
    font-family: "Century Gothic", Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; 
    text-decoration: none;
    background-color: transparent; 
    border-radius: 20px; 
    font-size: 20px;
  }
  
  .nav-linkPrincipal:hover {
    background-color: #C88594; 
    border-radius:50px; 
    color: rgb(255, 255, 255);
  }
  
  .logo {
    height: 90px;
    
  }
  /* Estilos del ícono hamburguesa */
.icono-hamburguesaPrincipal {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.icono-hamburguesaPrincipal span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
.BtnIniciarSesion{
  font-family: "Century Gothic", Arial, sans-serif;
  border: none;
  outline: none;
  width: 150px;
  padding: 9px 0;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  background: #c88594 ;
  color: white;
  margin-left: 30px;
  font-weight: bold;
}
.BtnIniciarSesion:hover{
  background: black; /* Efecto hover en el botón */
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(245, 176, 65, 1);
    transition: all 0.2s ease;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .logo {
    height: 70px;
    padding-left: 20px; /* Añade un poco de espacio al lado derecho */
    
  }
  .NavbarPrincipal {
    display: none;
    flex-direction: column; /* Asegura que los enlaces se coloquen en columna */
    position: absolute;
    top: 100px;
    left: 0; /* Alinea el menú con el borde izquierdo */
    background-color: #020003;
    width: 100%; /* Asegura que el menú ocupe el 100% del ancho de la pantalla */
    height: 250px;
    text-align: center; /* Centra los enlaces */
    padding: 0; /* Elimina el padding extra en el contenedor */
    z-index: 999; /* Asegúrate de que esté sobre otros elementos */
    justify-content: center;
  }

  .NavbarPrincipal.activo {
    display: flex;
    text-align: center;
  }

  .nav-linkPrincipal{
    margin: 5px 0; /* Espaciado entre los enlaces */
    padding: 1px;
    font-size: 1rem; /* Aumenta un poco el tamaño de la fuente para que sea más legible */
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    text-align: center; /* Asegura que el texto esté centrado en el enlace */
    margin-top: -10px;
  }

  .nav-linkPrincipal:hover {
    background-color: #C88594; /* Cambia el fondo a rosado cuando el usuario pasa sobre el enlace */
    color: white; /* Mantén el texto en blanco para que sea legible */
    border-radius: 0; /* Quita cualquier borde redondeado innecesario en el hover */
  }

  .icono-hamburguesaPrincipal  {
    display: flex;
    justify-content: flex-end; /* Alinea el icono hamburguesa a la derecha */
    padding-right: 20px; /* Añade un poco de espacio al lado derecho */
    padding-left: 20px; /* Añade un poco de espacio al lado derecho */
  }

  .icono-hamburguesaPrincipal  span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  .BtnIniciarSesion{
   width: 150px;
   height: 50px;
 margin-left: 115px;
  }
}
