/* HomeContent.css */
.divContenido {
    position: relative;
    width: 100%;
    height: 100vh; 
  }
  
  .ImgPortada {
    background-image: url('../Img/Home_Portada2.jpg'); /* Ruta imagen de portada */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 470px; 
    width: 100%;
    display: flex;
    align-items: center; /* Vertical */
    justify-content: start; /* Horizontal */
    color: #F5B041; 
    position: relative; 
    text-align: left;
  }
  
  .TextoPortada{
    position: absolute; /* Texto sobre la imagen */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    max-width: 80%; 
    padding: 20px; /* Espaciado alrededor del texto */

    border-radius: 10px; 
  }
  
  .TextoPortada h1 {
    margin: 0;
    font-size: 40px;
    text-align: left;
    font-family: "Century Gothic", Arial, sans-serif;
  }
  
  .TextoPortada p {
    margin: 10px 0 0;
    font-size: 30px;
  }
 
  .divCarrucel {
    background-color: black;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    position: relative; /* Asegura que las flechas se posicionen correctamente */
  }
  
  
  .alice-carousel__stage {
    display: flex;
    justify-content: space-between; /* Asegura que el espacio entre los logos sea uniforme */
  }
  
  .alice-carousel img {
    height: 110px;
    object-fit: contain;
    margin: 0; /* Asegura que no haya margen que cause desbordamiento */
    padding: 0 30px; /* Ajusta el padding horizontal para evitar el corte */
  }
  
  .alice-carousel {
    width: 100%;
    padding: 0; /* Elimina cualquier padding que pueda desbordar el carrusel */
  }
  
  .alice-carousel__stage-item {
    padding: 0 10px; /* Ajusta el padding de los elementos para que no se desborden */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-arrow {
    position: absolute;
    top: 50%;
    z-index: 999; /* Asegúrate de que las flechas estén por encima de todo */
    background-color: transparent;
    color: #F5B041; /* Color dorado */
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .custom-arrow-left {
    left: 10px; /* Ajuste de la posición de la flecha izquierda */
  }
  
  .custom-arrow-right {
    right: 10px; /* Ajuste de la posición de la flecha derecha */
  }
  
  
  /* Oculta los indicadores del carrusel */
  .alice-carousel__dots {
    display: none !important;
  }

  .divDestacarServicios{
    background-color: white;
    width: auto;
    height: 500px;
  }
  .LinesDivisora {
  background-color: #F5B041;
    height: 2px;
  }