/* HomeContent.css */
.divContenido {
    position: relative;
    width: 100%;
    height: 100vh; 
  }
  
  .ImgPortada {
    background-image: url('../Img/Home_Portada2.jpg'); /* Ruta imagen de portada */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 430px; 
    width: 100%;
    display: flex;
    align-items: center; /* Vertical */
    justify-content: start; /* Horizontal */
    color: #F5B041; 
    position: relative; 
    text-align: left;
  }
  
  .TextoPortada{
    position: absolute; /* Texto sobre la imagen */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    max-width: 80%; 
    padding: 20px; /* Espaciado alrededor del texto */

    border-radius: 10px; 
  }
  
  .TextoPortada h1 {
    margin: 0;
    font-size: 40px;
    text-align: left;
    font-family: "Century Gothic", Arial, sans-serif;
  }
  
  .TextoPortada p {
    margin: 10px 0 0;
    font-size: 30px;
  }
 
  .divCarrucel {
    background-color: black;
    width: auto;
    height: 180px;
    margin: 0 auto; /* Centra el carrusel en la página */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    display: flex;
    justify-content: center;
  }
  
  
  .alice-carousel__stage {
    display: flex;
    justify-content: space-between; /* Asegura que el espacio entre los logos sea uniforme */
  }
  
  .alice-carousel img {
    height: 110px; /* Ajusta la altura de las imágenes */
    object-fit: contain; /* Mantiene la proporción de la imagen dentro del contenedor */
    padding: 0 70px; /* Espacio horizontal consistente entre cada imagen */
  }
  
  .alice-carousel {
    width: 100%; /* Asegura que el carrusel ocupe todo el ancho disponible */
  }
  
  .alice-carousel__stage-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Añade un espaciado horizontal uniforme entre los elementos */
  }
  .custom-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: rgba(189, 178, 178, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 2px solid red; /* Para verificar la visibilidad del botón */
  }
  
  .custom-arrow-left {
    left: 10px;
  }
  
  .custom-arrow-right {
    right: 10px;
  }
  
  /* Oculta los indicadores del carrusel */
  .alice-carousel__dots {
    display: none !important;
  }