* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
}


.divContenido {
    position: relative;
    width: 100%;
    height: 100vh; 
  }
  
  .ImgPortada {
    background-image: url('../Img/Home_Portada2.jpg'); /* Ruta imagen de portada */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 470px; 
    width: 100%;
    display: flex;
    align-items: center; /* Vertical */
    justify-content: start; /* Horizontal */
    color: #F5B041; 
    position: relative; 
    text-align: left;
    margin-top: 100px;
  }
  .Plasta1{
    background-image: url('../Img/Inicio_Plasta1.png'); /* Ruta imagen de portada */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 355px; /* Ajusta la altura según tus necesidades */
    width: 100%;
  }

/*ESTILOS BTN SOLICITAR COTIZACIÓN*/
.BtnSolicitarCotización {
  font-family: "Century Gothic", Arial, sans-serif;
  width: 300px;
  height: 70px;
  background-color: #F5B041;
  border-style: none;
  color: #000000;
  font-size: 23px;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 130px;
  margin-left: 1000px;
  border-radius: 50px;
}

.BtnSolicitarCotización span {
  position: absolute;
  display: block;
}

.BtnSolicitarCotización span:nth-child(1) {
  height: 6px;
  width: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-radius: 50px;
  animation: span1 2s linear infinite;
}

@keyframes span1 {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
}

.BtnSolicitarCotización span:nth-child(2) {
  height: 100%;
  width: 6px;
  top: -100%;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-radius: 50px;
  animation: span2 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes span2 {
  0% {
      top: -100%;
  }
  100% {
      top: 100%;
  }
}

.BtnSolicitarCotización span:nth-child(3) {
  height: 6px;
  width: 100%;
  bottom: 0;
  right: -100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-radius: 50px;
  animation: span3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span3 {
  0% {
      right: -100%;
  }
  100% {
      right: 100%;
  }
}

.BtnSolicitarCotización span:nth-child(4) {
  height: 100%;
  width: 6px;
  bottom: -100%;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-radius: 50px;
  animation: span4 2s linear infinite;
  animation-delay: 1.5s;
}

@keyframes span4 {
  0% {
      bottom: -100%;
  }
  100% {
      bottom: 100%;
  }
}

.BtnSolicitarCotización:hover {
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.BtnSolicitarCotización:hover span {
  animation-play-state: paused;
}


.TextoPortada{
  position: absolute; /* Texto sobre la imagen */
  z-index: 1; /* Asegura que el texto esté por encima de la imagen */
  max-width: 80%; 
  padding: 20px; /* Espaciado alrededor del texto */
  border-radius: 10px; 
}

.TextoPortada h1 {
  margin: 0;
  font-size: 40px;
  text-align: left;
  font-family: "Century Gothic", Arial, sans-serif;
}

.TextoPortada p {
  margin: 10px 0 0;
  font-size: 30px;
}


/*ESTILOS CARRUCEL*/
.divCarrucel {
  background-color: black;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  position: relative; /* Asegura que las flechas se posicionen correctamente */
}

.alice-carousel__stage {
  display: flex;
  justify-content: space-between; /* Asegura que el espacio entre los logos sea uniforme */
}

.alice-carousel img {
  height: 110px;
  object-fit: contain;
  margin: 0; /* Asegura que no haya margen que cause desbordamiento */
  padding: 0 30px; /* Ajusta el padding horizontal para evitar el corte */
}

.alice-carousel {
  width: 100%;
  padding: 0; /* Elimina cualquier padding que pueda desbordar el carrusel */
}

.alice-carousel__stage-item {
  padding: 0 10px; /* Ajusta el padding de los elementos para que no se desborden */
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  z-index: 999; /* Asegúrate de que las flechas estén por encima de todo */
  background-color: transparent;
  color: #F5B041; /* Color dorado */
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.custom-arrow-left {
  left: 10px; /* Ajuste de la posición de la flecha izquierda */
}

.custom-arrow-right {
  right: 10px; /* Ajuste de la posición de la flecha derecha */
}

/* Oculta los indicadores del carrusel */
.alice-carousel__dots {
  display: none !important;
}

.divDestacarServicios {
  margin-top: -120px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.divCard {
  margin-top: 20px; /* O ajustar según lo que prefieras */
}
@font-face {
  font-family: 'AllerDisplay';
  src: url('../fonts/AllerDisplay.ttf');
}
.DemosFormaText{
  font-family: 'AllerDisplay';
  justify-content: center;
  font-size: 40px;
  text-align: center;
  margin-left: -550px;
  color: rgb(34, 34, 34);
  line-height: 20px;
}
.punto{
  font-family: "Century Gothic", Arial, sans-serif;
    color: #c88594; /* Cambia el color del punto aquí */
    font-size: 120px; /* Ajusta el tamaño del punto según tus necesidades */    
    vertical-align:baseline

}
.TextDestaServicios{
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 20px;
  margin-left: -520px;
  color: rgb(34, 34, 34);
  line-height: 30px;
}

.TextDestaServicios2{
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #C88594;
  font-style: oblique;
  margin-left: -550px;
}

/*ESTILOS DE LOS CARDS*/
.divCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;  /* Ajusta el espacio entre las tarjetas */
  justify-content: center;  /* Centrar las columnas horizontalmente */
  justify-items: center;  /* Centrar cada tarjeta dentro de su columna */
  align-items: center;  /* Centrar las tarjetas verticalmente */
  height: 500px;
}

.Card {
  width: 370px; 
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.EstilosCard{
  border-radius: 20px;
  overflow: hidden;
  
}
.Card img {
  object-fit: cover;
  height: 200px; /* Ajusta la altura de la imagen */
  width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho del card */
}
.card-title {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #F5B041;
}

.card-description {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 16px;
  color: #757575;
}

.TituloEnlaces{
  font-family: 'AllerDisplay';
  justify-content: center;
  font-size: 40px;
  text-align: center;
  color: rgb(34, 34, 34);
  line-height: 20px;
}