/* ESTILOS DE RESET */
html, body {
  height: 100%; /* Asegura que la altura del body sea 100% */
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el padding predeterminado */
}

/* CONTENEDOR PRINCIPAL */
.divServicios {
  display: flex; /* Usa flexbox para el diseño */
  flex-direction: column; /* Coloca los elementos en una columna */
  margin-top: 130px; /* Margen superior para dar espacio al contenido */
}

/* CONTENIDO PRINCIPAL */
.divServicios h1 {
  text-align: center; /* Centra el texto del encabezado */
  margin-top: 20px; /* Espacio superior para el encabezado */
  flex: 1; /* Permite que el encabezado empuje el footer hacia abajo */
}

/* FOOTER */
footer {
  margin-top: auto; /* Asegura que el footer se mantenga al final */
}

/* PORTADA DE SERVICIOS */
.PortadaServicios {
  background-image: url('../Img/PortadaServicios.jpg'); /* Imagen de fondo */
  background-size: cover; /* Cubre todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 505px; /* Altura del contenedor de portada */
  width: 100%; /* Ancho completo */
  display: flex; /* Usa flexbox para alinear elementos */
  align-items: center; /* Centra verticalmente */
  justify-content: start; /* Alinea horizontalmente al inicio */
  position: relative; /* Posicionamiento relativo para elementos internos */
  text-align: left; /* Alineación del texto a la izquierda */
  margin-top: 0; /* Sin margen superior extra */
  padding: 0; /* Sin padding extra */
}
/* TÍTULO DE SERVICIOS */
.SuVision {
  font-family: 'AllerDisplay'; /* Fuente personalizada */
  justify-content: center; /* Alinea horizontalmente */
  font-size: 50px; /* Tamaño de fuente */
  text-align:left; /* Centra el texto */
  margin-left: -550px; /* Ajuste de margen para posicionamiento */
  color: rgb(255, 255, 255); /* Color del texto */
  line-height: 20px; /* Espaciado entre líneas */
  margin-right: 100px;

}

/* PUNTO DECORATIVO */
.punto {
  font-family: 'AllerDisplay'; /* Fuente personalizada */
  color: #c88594; /* Color del punto */
  font-size: 120px; /* Tamaño del punto */
  vertical-align: baseline; /* Alineación vertical del punto */
}

/* FUENTES */
@font-face {
  font-family: 'AllerDisplay'; /* Define la fuente personalizada */
  src: url('../fonts/AllerDisplay.ttf') format('truetype'); /* Ruta de la fuente */
}

/*ESTILOS DE LOS CARDS*/
.divCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;  /* Ajusta el espacio entre las tarjetas */
  justify-content: center;  /* Centrar las columnas horizontalmente */
  justify-items: center;  /* Centrar cada tarjeta dentro de su columna */
  align-items: center;  /* Centrar las tarjetas verticalmente */
  padding: 20px;  /* Añade algo de espacio interior al contenedor */
  min-height: 100vh; /* Asegura que el contenedor siempre tenga al menos la altura de la ventana */
  height: auto; /* Permite que el contenedor crezca según el contenido */
 margin-top: 30px;
}

.Card {
  width: 380px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.EstilosCard {
  border-radius: 20px;
  overflow: hidden;
  background-color: #000000;
}

.Card img {
  object-fit: cover;
  height: 300px; /* Ajusta la altura de la imagen */
  width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho del card */
}

.card-title {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #F5B041;
}

.card-description {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 16px;
  color: #c50c0c;
}


.LineaDivisora {
  height: 2px; 
  background: linear-gradient(to right, rgba(200, 133, 148, 0), #c88594, #000000, #c88594, rgba(200, 133, 148, 0));
  width: 80%;
  margin: 20px auto;
}

/* MODALES */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa el 100% del ancho */
  height: 100%; /* Ocupa el 100% de la altura */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
.FormCotizacionModal{
  text-align: center;
}
.InputCotizacionModal {
  border: none;
  font-size: 18px;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  height: 40px; /* Ajusta la altura aquí */
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 400px;
  background-color: #8b8b8b2a;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  border-radius: 50px;
  padding-right: 30px; /* Espacio extra para el asterisco */
  position: relative; /* Necesario para que el asterisco se posicione correctamente */
}
.asterisco-obligatorio {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 20px; /* Alinea el asterisco a la derecha del input */
  top: 50%;
  transform: translateY(-50%);
  margin-top: -2px;
}
.InputPlanSeleccionado{
  background-color: #f5b041;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
border: none;
outline: none;
font-size: 18px;
border-radius: 50px;
width: 150px;
font-weight: bold;

}
.DivInputModal {
  position: relative;
  margin-bottom: 20px; /* Espacio entre cada campo */
}

.DivPlanSeleccionado{
  margin-top: 10px;
}
.BtnEnviarModal{
font-family: "Century Gothic", Arial, sans-serif;
border: none;
outline: none;
width: 120px;
margin-top: 30px;
padding: 7px 0;
font-size: 18px;
border-radius: 40px;
cursor: pointer;
background: #c88594 ;
color: white;

}
.BtnEnviarModal:hover {
background: black; 
color: rgba(255, 255, 255, 1) !important;
box-shadow: 0 4px 16px rgba(245, 176, 65, 1);
transition: all 0.2s ease;
}

.divForm {
justify-content: center;

}

.ContenidoModal{
background: rgb(255, 255, 255);
border-radius: 15px;
box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: all 0.3s ease-in-out;
width: 500px;

}
.ContenidoModal:hover {
box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
transform: translateY(-5px); /* Movimiento hacia arriba en hover */
}
.TituloModal{
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.btnCerrarModal{
  width: 20px;
  height: 20px;
  background: url(../Img/CerrarModal.png) no-repeat center center;
  background-size: contain;
  text-indent: -9999px; /* Ocultar el texto del botón */
  border: transparent;
  cursor: pointer;
  position: absolute; /* Asegúrate de que el botón esté en posición absoluta */
  top: 20px; /* Ajusta la posición desde la parte superior */
  right: 20px; /* Ajusta la posición desde la derecha */
  z-index: 1100; /* Asegúrate de que esté encima de otros elementos */
  
}
.PlanesCotización {
  display: flex;
  justify-content: space-around; /* Espacia los planes uniformemente */
  align-items: stretch; /* Alinea los elementos para que todos tengan la misma altura */
  flex-wrap: wrap; /* Permite que los planes se ajusten en pantallas más pequeñas */
}

.Plan1, .Plan2, .Plan3{
  background: #dddddd23; 
  border: 1px solid #ddd; 
  border-radius: 20px; 
  padding: 25px; /* Espacio interior */
  margin: 0 5px 20px 5px; /* Reduce el margen entre los planes */
  flex: 1; /* Los planes ocuparán el mismo ancho */
  max-width: 340px; /* Ancho máximo para cada plan */
  height: 430px; /* Altura fija para todos los planes */
  text-align: center; /* Centra el texto */
  box-shadow: 0 6px 10px rgba(0,0,0,0.1); /* Sombra inicial */
  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  color: rgb(0, 0, 0);
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 16px;
}

.Plan1:hover, .Plan2:hover, .Plan3:hover {
  transform: translateY(-5px); /* Levanta el contenedor al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Aumenta la sombra */
}

.TituloPlan{
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color:#c88594 ;
}

.Entregables{
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 16px;
  color: rgb(100, 100, 100);
}
.btnPlanes{
font-family: "Century Gothic", Arial, sans-serif;
border: none;
outline: none;
width: 200px;
margin-top: 20px;
padding: 1px 0;
font-size: 18px;
border-radius: 40px;
cursor: pointer;
background:  #f5b041;
color: rgb(0, 0, 0);
margin-top: 20px;
}
.btnPlanes:hover {
  background: black; 
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(245, 176, 65, 1);
  transition: all 0.1s ease;
  }



/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* Ajustes para dispositivos móviles y tablets */
  
  .divServicios {
      margin-top: -200px; /* Reduce el margen superior en móviles */
  }

  .divServicios h1 {
      font-size: 24px; /* Tamaño de fuente más pequeño para encabezados */
      margin-top: 60px; /* Espacio superior reducido */
  }

  .PortadaServicios {
      height: 280px; /* Altura menor para la portada en dispositivos pequeños */
      padding: 10px; /* Añadir un poco de padding */
      margin-top: 250px;
      margin-bottom: -80px;
  }

  .SuVision {
      font-size: 50px; 
      margin-left: 0; /* Elimina margen izquierdo */
      margin-right: 0; /* Elimina margen derecho */
      text-align: center; /* Centra el texto */
      line-height: 0;
  }

  .divCard {
      grid-template-columns: repeat(1, 1fr); /* Una columna en móviles */
      padding: 30px; /* Reduce el padding */
      margin-top: -20px;
      margin-bottom: -50px;
  }

  .Card {
      width: auto; /* Ajusta el ancho de las tarjetas */
  }

  .Card img {
      height: 200px; /* Ajusta la altura de la imagen */
  }

  .card-title {
      font-size: 18px; /* Tamaño de fuente más pequeño */
  }

  .card-description {
      font-size: 14px; /* Tamaño de fuente más pequeño */
  }
.LineaDivisora{
  margin-bottom: -60px;
}
  .PlanesCotización {
      flex-direction: column; /* Cambia a una columna */
      align-items: center; /* Centra los elementos */
      margin-top: -50px;
  }

  .Plan1, .Plan2, .Plan3 {
      max-width: 85%; /* Ancho máximo del 100% para que se ajuste a la pantalla */
      margin: 10px 0; /* Margen vertical entre planes */
  }

  .ContenidoModal {
      width: 80%; /* Ancho del modal más responsivo */
  }

  .btnCerrarModal {
    width: 25px; /* Tamaño adecuado para móviles */
    height: 25px; /* Tamaño adecuado para móviles */
    top: 15px; /* Ajusta la posición para móviles */
    right: 15px; /* Ajusta la posición para móviles */
  }

  .InputCotizacionModal {
    width: 230px;
  }
  
  .asterisco-obligatorio {
    right: 10px; /* Alinea el asterisco a la derecha del input */
  }
  .btnPlanes {
      width: 100%; /* Botones ocupan el ancho completo */
  }
}

@media (max-width: 480px) {
  /* Ajustes específicos para dispositivos muy pequeños */
  
  .divServicios h1 {
      font-size: 20px; /* Tamaño de fuente más pequeño */
  }

  .SuVision {
      font-size: 24px; /* Tamaño de fuente aún más pequeño */
  }

  .Card img {
      height: 150px; /* Ajusta la altura de la imagen en móviles muy pequeños */
  }

  .card-title {
      font-size: 16px; /* Tamaño de fuente más pequeño */
  }

  .card-description {
      font-size: 12px; /* Tamaño de fuente más pequeño */
  }
  .btnCerrarModal {
    width: 20px; /* Más pequeño para pantallas muy pequeñas */
    height: 20px; /* Más pequeño para pantallas muy pequeñas */
    top: 10px; /* Ajuste fino para móviles pequeños */
    right: 10px; /* Ajuste fino para móviles pequeños */
  }
}
